In [10]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import datetime

In [11]:
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2015, 5, 9)

In [14]:
AAPL=web.DataReader('AAPL', 'yahoo', start, end)

In [15]:
AAPL.head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,213.429998,214.499996,212.380001,214.009998,123432400,27.847252
2010-01-05,214.599998,215.589994,213.249994,214.379993,150476200,27.895396
2010-01-06,214.379993,215.230000,210.750004,210.969995,138040000,27.451683
2010-01-07,211.750000,212.000006,209.050005,210.580000,119282800,27.400936
2010-01-08,210.299994,212.000006,209.060005,211.980005,111902700,27.583106